*.zip filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text

* text=auto
*.txt text eol=crlf
*.md text eol=crlf
*.sh eol=lf
*.py eol=lf
/git-filter-repo eol=lf
/contrib/filter-repo-demos/[a-z]* eol=lf
/t/t9*/* eol=lf